<ion-view view-title="Lista">
  <ion-content ng-controller="listCtrl">
    <ion-list>
      <ion-item href="/#/edit/{{nota.id}}" class="item-remove-animate item-icon-right" ng-repeat="nota in notas">
        <i class="icon ion-chevron-right"></i>
        <h2>{{nota.titulo}}</h2>
        <p>{{nota.descripcion}}</p>

        <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="remove(nota.id)">Eliminar</ion-option-button>
      </ion-item>
    <ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a class="button button-positive icon-left ion-compose" href="/#/create">Agregar</a>
  </div>
</ion-view>